body{
    margin: 0px; 
    background-color: blueviolet;   
    }
   h1 {
       background-color: blue;
       color: white;
       font-size: 50px;
       /*Lo entiende como 20px de distancia a todos los lados
       'Arriba,derecha,abajo,izquierda'*/
       margin: 0px 30px 10px 0px;
       padding: 0px 10px 5px 0px;
   } 
   .primeraClase{
       color: blue;
       font-size: 20px;
   }
   #primerIdentificador{
       color: white;
   }
.primerDiv{
    display: inline-block; 
    width: 100px; 
    background-color: beige;
}
.segundoDiv{
    display: inline-block; 
    width: 400px; 
    background-color: crimson;
}
.footer{
    margin-top: 20px; 
    background-color: burlywood; 
    position: sticky;
}